# Prevent raw database dumps from cluttering Git
*.sql

# Environment / Secret config
.env

# Dependencies
vendor/
report_gen/vendor/

# OS system files
.DS_Store
Thumbs.db

# Uploaded media
/uploads/*
!/uploads/.gitkeep
